<!DOCTYPE html>

<div th:fragment="login" xmlns:th="http://www.thymeleaf.org">
    <div th:replace="fragments/pages/login"></div>
</div>

<div th:fragment="admin" xmlns:th="http://www.thymeleaf.org">
    <div th:replace="fragments/pages/admin"></div>
</div>

<div th:fragment="candidates" xmlns:th="http://www.thymeleaf.org">
    <div th:replace="fragments/pages/candidates"></div>
</div>

<div th:fragment="addCandidate" xmlns:th="http://www.thymeleaf.org">
    <div th:replace="fragments/pages/addCandidate"></div>
</div>

<div th:fragment="addSpending" xmlns:th="http://www.thymeleaf.org">
    <div th:replace="fragments/pages/addSpending"></div>
</div>

<div th:fragment="updateCandidate" xmlns:th="http://www.thymeleaf.org">
    <div th:replace="fragments/pages/updateCandidate"></div>
</div>

<div th:fragment="addDrivingLesson" xmlns:th="http://www.thymeleaf.org">
    <div th:replace="fragments/pages/addDrivingLesson"></div>
</div>

<div th:fragment="addInstructor" xmlns:th="http://www.thymeleaf.org">
    <div th:replace="fragments/pages/addInstructor"></div>
</div>

<div th:fragment="lessonsOverview" xmlns:th="http://www.thymeleaf.org">
    <div th:replace="fragments/pages/lessonsOverview"></div>
</div>

<div th:fragment="instructorLessonsOverview" xmlns:th="http://www.thymeleaf.org">
    <div th:replace="fragments/pages/instructorLessonsOverview"></div>
</div>