<!DOCTYPE html>

<div class="container" style="width: 40%; margin-top: 5em">

    <form class="panel panel-default" th:action="@{/candidate/{id}/addDrivingLesson(id=${candidate.id})}"
          method="POST"
          xmlns:th="http://www.thymeleaf.org" th:object="${drivingLesson}">

        <div class="panel-heading"><h4>Додади час</h4></div>

        <div class="panel-body">
            <fieldset class="form-group">
                <label for="firstName">Име и презиме : </label>
                <input type="text" class="form-control" name="firstName" id="firstName"
                       th:value="${contactInfo.firstName} + ' ' + ${contactInfo.lastName}" disabled/>
            </fieldset>

            <div class="row">
                <div class='col-sm-6'>
                    <div class="form-group">
                        <label for="date">Датум: </label>
                        <div class='input-group date' id='datetimepicker1'>
                            <input type='text' class="form-control" name="date" id="date" required/>
                            <span class="input-group-addon">
                            <span id="calendarIconButton" class="glyphicon glyphicon-calendar"></span>
                        </span>
                        </div>
                    </div>
                </div>

                <script th:inline="javascript">
                    /*<![CDATA[*/
                    $(document).ready(function () {
                        var options = {
                            locale: 'mk',
                            format: 'DD.MM.YYYY HH:mm'
                        };
                        $('#datetimepicker1').datetimepicker(options);
                    });
                    /*]]>*/
                </script>
            </div>

            <div class="form-group">
                <select class="form-control" id="instructorId" name="instructorId" required>
                    <option value="wrong" selected disabled hidden>Одбери инструктор</option>
                    <option th:each="instructor : ${instructors}"
                            th:value="${instructor.id}"
                            th:text="${instructor.contactInfo.firstName}+' '+${instructor.contactInfo.lastName}"></option>
                </select>
                <h5 class="text text-danger" id="emptyInstructorLabel" style="display: none;">Избери инструктор!!!</h5>
            </div>

            <!-- TODO: add types of lessons-->
            <div class="form-group">
                <select class="form-control" id="lessonType" name="lessonType" required>
                    <option value="wrong" selected disabled hidden>Одбери тип на час</option>
                    <option th:value="1">2 часа</option>
                    <option th:value="2">1 час</option>
                    <option th:value="3">Полага гратска</option>
                    <option th:value="4">Полага полигон</option>
                </select>
                <h5 class="text text-danger" id="emptyLessonTypeLabel" style="display: none;">Избери тип на час!!!</h5>
            </div>
            <button id="newDrivingLessonButton" disabled="disabled" name="newDrivingLessonButton"
                    class="btn btn-success btn-lg">Потврди
            </button>
        </div>
    </form>
</div>

<script>
    $('#instructorId').on('change', function () {
        var selected = $(this).find(":selected").val();
        if (selected === "wrong") {
            $('#emptyInstructorLabel').css({display: "block"});
        }
        else {
            $('#emptyInstructorLabel').css({display: "none"});
            if ($('#lessonType').find(":selected").val() !== "wrong") $('#newDrivingLessonButton').prop("disabled", false);
        }
    });

    $('#lessonType').on('change', function () {
        var selected = $(this).find(":selected").val();
        if (selected === "wrong") {
            $('#emptyLessonTypeLabel').css({display: "block"});
        }
        else {
            $('#emptyLessonTypeLabel').css({display: "none"});
            if ($('#instructorId').find(":selected").val() !== "wrong") $('#newDrivingLessonButton').prop("disabled", false);
        }
    });

</script>
