<!DOCTYPE html>
<div xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" class="container" style="width: 35%">


    <form class="panel panel-primary" th:action="@{/login}" method="POST">
        <div class="panel-heading"><h3 class="panel-title">Добредојдовте</h3></div>
        <div class="panel-body">

            <fieldset class="form-group">
                <label for="email">Корисничко име</label>
                <input type="text" id="email" name="email" class="form-control"/>
            </fieldset>


            <fieldset class="form-group">
                <label for="password">Лозинка</label>
                <input type="password" id="password" name="password" class="form-control"/>
            </fieldset>

            <div align="center" th:if="${param.error}">
                <label class="label label-danger">Погрешно корисничко име или лозинка. Обиди се повторно</label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit"
                    th:text="'Логирај се'"></button>
        </div>
    </form>

</div>

